<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bei Fisch frag Chrisch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8390238720FA7C77009AB7D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8390239B20FA7C7D009AB7D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>839023A620FA7C7D009AB7D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
